.whitebg
	#refer

		.col-md-5.col-md-offset-1.col-sm-6.refer-left
			#dino-top-left
			#text-left
				%h3 ESTAMOS CONSTRUYENDO EL PROVEEDOR DE LUZ IDEAL. MUY PRONTO CONOCERÁS NUESTROS PLANES.
				#spacer
		.col-md-5.col-sm-6.col-xs-12
			#copy
				%h1 NO DEJES FUERA A TUS AMIGOS
				%h2 INVÍTALOS Y OBTÉN HASTA UN AÑO DE LUZ GRATIS

			%p Comparte tu liga única por correo electrónico, Facebook, o Twitter y gana meses de luz gratis por cada amigo que se suscriba.
			%input.form-control{value: "#{@user.referral_url(root_url)}"}

			= render partial: "social_sharing"
	.bside
		%h2#asifunciona Así funciona: entre más amigos invitas, más meses de luz te regalamos.

	- if Prize.all.any?

		%section#prizes.hidemobile
			.progressbar{style: "width: #{@user.progress * 100}%"}
			= render partial: "prizes/prize_item", collection: Prize.all.order("number_of_referrals asc"), as: :prize

		.bside
			#dinos
			.mobileonly
				%br
				%p 5 Amigos - 3 Meses gratis
				%br.mobile
				%p 15 Amigos - 6 Meses gratis
				%br.mobile
				%p 30 Amigos - 9 Meses gratis
				%br.mobile
				%p 50 Amigos - 12 Meses gratis
				%br
				%br
			%h2
				%strong= pluralize(@user.number_of_referrals, 'amigo')
				se han suscrito hasta el momento.
				¡Sigue invitando y revisando!
			%br 
			%p Promoción válida al contratar el servicio. Aplica para hogares y pequeños comercios en México

		%iframe#ifrmamesq{:src => "https://invictus-mx-xerb.squarespace.com/relanzamiento"}
		// If iframe is not loading, you should review this steps:
		// 1) If you are being served over SSL. Check that the iframe document is also over SSL and has a valid cert.
		// 2) If SSL is not the issue. Check the HTTP headers of the external document: $ curl -I http://example.com/doc1
		// In case of X-Frame-Options with value DENY or SAMEORIGIN:  Move away!
