#refer

	.col-md-5.col-md-offset-1.col-sm-6.hidden-xs.refer-left
		#dino-top-left
		#text-left
			%h1 LA ENERGÍA SOLAR ES MÁS BARATA Y NO DAÑA EL PLANETA
			%p MUY PRONTO CONOCERAS NUESTROS PLANES
	.col-md-5.col-sm-6.col-xs-12
		#copy
			%h3 NO DEJES FUERA A TUS AMIGOS
			%h1 INVITA A TUS AMIGOS Y OBTÉN HASTA UN AÑO DE LUZ GRATIS

		%p Comparte tu liga única por correo electrónico, Facebook, o Twitter y gana meses de luz gratis por cada amigo que se suscriba.
		%input.form-control{value: "#{@user.referral_url(root_url)}"}

		= render partial: "social_sharing"

.bside
	%strong ASÍ FUNCIONA:

- if Prize.all.any?

	%section#prizes
		.progressbar{style: "width: #{@user.progress * 100}%"}
			.progress-box
		= render partial: "prizes/prize_item", collection: Prize.all.order("number_of_referrals asc"), as: :prize

		.bside
			%h4
				%strong= pluralize(@user.number_of_referrals, 'amigo')
				%string se han suscrito hasta el momento.
				%p ¡Sigue invitando!
				%string Promoción válida al contratar el servicio. Aplica para hogares y pequeños comercios en México

	%iframe#ifrmamesq{:src => "http://blog.invictus.mx/relanzamiento"}
